*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Barlow Condensed", sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

h1 {
  font-size: 7.5rem;
  text-transform: uppercase;
}

ul, ol {
  list-style: none;
}

.container {
  width: min(90%, 1440px);
  margin: 0 auto;
}

.nav {
  margin-top: 6rem;
}

.row {
  margin-top: 6rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
@media (min-width: 850px) {
  .row {
    height: 80vh;
    flex-direction: row;
  }
}

.col {
  width: 100%;
}

.nav {
  display: flex;
}
.nav__logo {
  width: 2.6rem;
  margin-right: auto;
}
.nav__list {
  display: flex;
}
.nav__list-item {
  margin-left: 3rem;
  color: #242942;
}
.nav__link {
  color: inherit;
}

.landing__tagline-container {
  display: flex;
  align-items: center;
  color: #a0a1ac;
  margin-bottom: 2rem;
}
.landing__tagline {
  text-transform: uppercase;
  color: inherit;
  font-weight: 400;
  letter-spacing: 0.8rem;
}
.landing__tagline--highlight {
  background-color: #242942;
  color: #fff;
  font-weight: 700;
  padding: 0.5rem 1.25rem;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
}
.landing__tagline + .landing__tagline {
  margin-left: 1rem;
}
.landing__title {
  color: #242942;
  line-height: 7.5rem;
  margin-bottom: 2rem;
}
.landing__paragraph {
  color: #a0a1ac;
  font-size: 2.2rem;
  margin-bottom: 5rem;
}
.landing__cta-container {
  display: flex;
  align-items: center;
}
.landing__btn {
  background-color: #ff5c5c;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.2rem;
  padding: 1.5rem 3.5rem;
  border-radius: 0.5rem;
  margin-right: 2rem;
}
.landing__btn-tagline {
  text-transform: uppercase;
  color: #a0a1ac;
  letter-spacing: 0.5rem;
}
@media (min-width: 850px) {
  .landing__img {
    width: auto !important;
  }
}

.bg {
  position: relative;
}
@media (min-width: 850px) {
  .bg::before {
    content: "";
    display: block;
    position: absolute;
    width: 105%;
    height: 125%;
    background-color: #eef3f6;
    border-radius: 5rem;
    top: -125%;
    right: -15%;
    z-index: -1;
  }
}