*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Barlow Condensed", sans-serif;
}

img {
  width: 100%;
  object-fit: contain;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

h1 {
  font-size: 4.5rem;
  text-transform: uppercase;
}

ul,
ol {
  list-style: none;
}

.grid {
  overflow: hidden;
  display: grid;
  grid-template-columns: [marginL-begin] 5% [marginL-end main-begin] 1fr [main-end marginR-begin] 5% [marginR-end];
  grid-template-rows: [marginT-begin] 5vh [marginT-end nav-begin] auto [nav-end img-begin] auto [img-end txt-begin] auto [txt-end attr-begin] auto [attr-end marginB-begin] 5vh [marginB-end];
}
@media (min-width: 850px) {
  .grid {
    min-height: 100vh;
    grid-template-columns: [marginL-begin] 10vw [marginL-end col1-begin] 1fr [col1-end col2-begin] 1fr [col2-end marginR-begin] 10vw [marginR-end];
    grid-template-rows: [marginT-begin] 5vh [marginT-end nav-begin] auto [nav-end main-begin] auto [main-end attr-begin] auto [attr-end marginB-begin] 5vh [marginB-end];
  }
}

.nav {
  grid-column: main-begin/main-end;
  grid-row: nav-begin/nav-end;
}
@media (min-width: 850px) {
  .nav {
    grid-column: col1-begin/col2-end;
  }
}

.landing__col1 {
  grid-column: main-begin/main-end;
  grid-row: txt-begin/txt-end;
}
@media (min-width: 850px) {
  .landing__col1 {
    grid-column: col1-begin/col1-end;
    grid-row: main-begin/main-end;
    align-self: center;
  }
}

.landing__col2 {
  grid-column: main-begin/marginR-end;
  grid-row: img-begin/img-end;
}
@media (min-width: 850px) {
  .landing__col2 {
    grid-column: col2-begin/marginR-end;
    grid-row: main-begin/main-end;
    align-self: center;
  }
}

.footer {
  grid-column: main-begin/main-end;
  grid-row: attr-begin/attr-end;
}
@media (min-width: 850px) {
  .footer {
    grid-column: col1-begin/col2-end;
  }
}

.nav {
  display: flex;
  margin-bottom: 6rem;
  align-items: center;
  position: relative;
}
.nav__logo {
  width: 2.6rem;
  margin-right: auto;
}
.nav__burger {
  display: flex;
  align-items: center;
}
.nav__checkbox {
  display: none;
}
.nav__burger-icon {
  background-image: url(../images/icon-hamburger.svg);
  background-repeat: no-repeat;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}
@media (min-width: 850px) {
  .nav__burger-icon {
    display: none;
  }
}
.nav__checkbox:checked ~ .nav__burger-icon {
  background-image: url(../images/icon-close.svg);
}
.nav__list {
  background-color: #fff;
  border-radius: 0.5rem;
  position: absolute;
  top: 300%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 5;
  padding: 4rem 2rem;
  box-shadow: 0px 6px 15px -5px rgba(10, 24, 92, 0.35);
  transform: translateY(0);
  transition: all 0.3s;
}
@media (min-width: 850px) {
  .nav__list {
    background-color: transparent;
    position: initial;
    box-shadow: unset;
    flex-direction: row;
    background-image: unset;
    width: auto;
    height: auto;
    cursor: unset;
  }
}
.nav__list.hide {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5rem);
}
@media (min-width: 850px) {
  .nav__list.hide {
    opacity: 100%;
    visibility: visible;
    transform: translateY(0);
  }
}
.nav__list-item {
  color: #242942;
  font-weight: 700;
  width: 100%;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 2.5rem;
}
@media (min-width: 850px) {
  .nav__list-item {
    display: inherit;
    margin-left: 3rem;
    margin-bottom: 0mm;
  }
}
.nav__list-item:last-child {
  font-weight: 700;
  color: #a0a1ac;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
}
@media (min-width: 850px) {
  .nav__list-item:last-child {
    margin-left: 4rem;
    margin-top: 0;
    flex-direction: row;
  }
}
.nav__list-item:last-child::before {
  content: "";
  width: 100%;
  height: 0.1rem;
  background-color: #eef3f6;
  margin-bottom: 2rem;
}
@media (min-width: 850px) {
  .nav__list-item:last-child::before {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #a0a1ac;
    border-radius: 1rem;
    margin-right: 4rem;
    margin-bottom: 0;
  }
}
.nav__link {
  color: inherit;
}
.nav__link:hover {
  color: #ff5c5c;
}

.landing__col1, .landing__col2 {
  margin-bottom: 8rem;
}
@media (min-width: 850px) {
  .landing__col1, .landing__col2 {
    margin-bottom: 0;
  }
}
.landing__tagline-container {
  display: flex;
  align-items: center;
  color: #a0a1ac;
  margin-bottom: 2rem;
}
.landing__tagline {
  text-transform: uppercase;
  color: inherit;
  font-weight: 400;
  letter-spacing: 0.4rem;
}
.landing__tagline--highlight {
  background-color: #242942;
  color: #fff;
  font-weight: 700;
  padding: 0.325rem 1.25rem;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
}
.landing__tagline + .landing__tagline {
  margin-left: 1rem;
}
.landing__title {
  color: #242942;
  font-size: 4.5rem;
  line-height: 4.45rem;
  margin-bottom: 2rem;
}
@media (min-width: 850px) {
  .landing__title {
    font-size: 6.5rem;
    line-height: 6.45rem;
  }
}
.landing__paragraph {
  color: #a0a1ac;
  font-size: 2.3rem;
  margin-bottom: 3rem;
}
@media (min-width: 850px) {
  .landing__paragraph {
    margin-bottom: 6rem;
  }
}
.landing__cta-container {
  display: flex;
  align-items: center;
}
.landing__btn {
  background-color: #ff5c5c;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  padding: 1.25rem 2.5rem;
  border-radius: 0.5rem;
  margin-right: 2rem;
  transform: translateY(0);
  box-shadow: unset;
  transition: all 0.3s;
}
@media (min-width: 850px) {
  .landing__btn {
    font-size: 1.8rem;
  }
}
.landing__btn:hover {
  transform: translateY(-0.35rem);
  box-shadow: 0px 6px 14px 0px rgba(235, 176, 176, 0.55);
}
.landing__btn:active {
  transform: translateY(0);
  box-shadow: unset;
}
.landing__btn-tagline {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #a0a1ac;
  letter-spacing: 0.3rem;
}
@media (min-width: 850px) {
  .landing__btn-tagline {
    font-size: 1.4rem;
  }
}
.landing__img {
  width: auto !important;
  height: 60vw;
}
@media (min-width: 850px) {
  .landing__img {
    height: 60vh;
  }
}

.footer {
  color: #242942;
  font-size: 1.6rem;
}
.footer a {
  color: inherit;
  font-weight: 400;
  color: #a0a1ac;
  letter-spacing: 0.1rem;
}
.footer a:hover {
  color: #ff5c5c;
}

.bg {
  position: relative;
}
.bg::before {
  content: "";
  display: block;
  position: absolute;
  width: 205%;
  height: 225%;
  background-color: #eef3f6;
  border-radius: 5rem;
  top: -100%;
  left: 35%;
  z-index: -1;
}
@media (min-width: 850px) {
  .bg::before {
    border-radius: 10rem;
    left: 0;
    height: 150%;
  }
}

.d-none {
  display: none;
}