.nav {
    display: flex;
    margin-bottom: 6rem;
    align-items: center;
    position: relative;

    &__logo {
        width: 2.6rem;
        margin-right: auto;
    }

    &__burger {
        display: flex;
        align-items: center;
    }

    &__checkbox {
        display: none;
    }

    &__burger-icon {
        background-image: url(../images/icon-hamburger.svg);
        background-repeat: no-repeat;
        width: 2.4rem;
        height: 2.4rem;
        cursor: pointer;

        @media (min-width: $bp-big) {
            display: none;
        }
    }

    &__checkbox:checked~&__burger-icon {
        background-image: url(../images/icon-close.svg);
    }

    &__list {
        background-color: #fff;
        border-radius: .5rem;
        position: absolute;
        top: 300%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        z-index: 5;
        padding: 4rem 2rem;
        box-shadow: 0px 6px 15px -5px rgba(10, 24, 92, 0.35);
        transform: translateY(0);
        transition: all .3s;

        @media (min-width: $bp-big) {
            background-color: transparent;
            position: initial;
            box-shadow: unset;
            flex-direction: row;
            background-image: unset;
            width: auto;
            height: auto;
            cursor: unset;
        }
    }

    &__list.hide {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-5rem);

        @media (min-width: $bp-big) {
            opacity: 100%;
            visibility: visible;
            transform: translateY(0);
        }
    }

    &__list-item {
        color: $very-dark-blue;
        font-weight: 700;
        width: 100%;
        text-align: center;
        letter-spacing: .1rem;
        margin-bottom: 2.5rem;

        @media (min-width: $bp-big) {
            display: inherit;
            margin-left: 3rem;
            margin-bottom: 0mm;
        }

        &:last-child {
            font-weight: 700;
            color: $grayish-blue;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 0;

            @media (min-width: $bp-big) {
                margin-left: 4rem;
                margin-top: 0;
                flex-direction: row;
            }

            &::before {
                content: '';
                width: 100%;
                height: .1rem;
                background-color: $light-grayish-blue;
                margin-bottom: 2rem;

                @media (min-width: $bp-big) {
                    width: .5rem;
                    height: .5rem;
                    background-color: $grayish-blue;
                    border-radius: 1rem;
                    margin-right: 4rem;
                    margin-bottom: 0;
                }
            }
        }
    }

    &__link {
        color: inherit;

        &:hover {
            color: $red;
        }
    }
}

.landing {

    &__col1,
    &__col2 {
        margin-bottom: 8rem;

        @media(min-width: $bp-big) {
            margin-bottom: 0;
        }
    }

    &__tagline-container {
        display: flex;
        align-items: center;
        color: $grayish-blue;
        margin-bottom: 2rem;
    }

    &__tagline {
        text-transform: uppercase;
        color: inherit;
        font-weight: 400;
        letter-spacing: .4rem;

        &--highlight {
            background-color: $very-dark-blue;
            color: #fff;
            font-weight: 700;
            padding: .325rem 1.25rem;
            border-radius: 5rem;
            letter-spacing: .1rem;
        }

        &+& {
            margin-left: 1rem;
        }
    }

    &__title {
        color: $very-dark-blue;
        font-size: 4.5rem;
        line-height: 4.45rem;
        margin-bottom: 2rem;

        @media (min-width: $bp-big) {
            font-size: 6.5rem;
            line-height: 6.45rem;
        }
    }

    &__paragraph {
        color: $grayish-blue;
        font-size: 2.3rem;
        margin-bottom: 3rem;

        @media (min-width: $bp-big) {
            margin-bottom: 6rem;
        }
    }

    &__cta-container {
        display: flex;
        align-items: center;
    }

    &__btn {
        background-color: $red;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: .15rem;
        padding: 1.25rem 2.5rem;
        border-radius: .5rem;
        margin-right: 2rem;
        transform: translateY(0);
        box-shadow: unset;
        transition: all .3s;

        @media (min-width: $bp-big) {
            font-size: 1.8rem;
        }

        &:hover {
            transform: translateY(-.35rem);
            box-shadow: 0px 6px 14px 0px rgba(235, 176, 176, .55);
        }

        &:active {
            transform: translateY(0);
            box-shadow: unset;
        }
    }

    &__btn-tagline {
        font-size: 1.4rem;
        text-transform: uppercase;
        color: $grayish-blue;
        letter-spacing: .3rem;

        @media (min-width: $bp-big) {
            font-size: 1.4rem;
        }
    }


    &__img {
        width: auto !important;
        height: 60vw;

        @media (min-width: $bp-big) {
            height: 60vh;
        }
    }
}

.footer {
    color: $very-dark-blue;
    font-size: 1.6rem;

    a {
        color: inherit;
        font-weight: 400;
        color: $grayish-blue;
        letter-spacing: .1rem;

        &:hover {
            color: $red;
        }
    }
}