.container {
    width: min(90%, 1440px);
    margin: 0 auto;
}

.nav {
    margin-top: 6rem;
}

.row {
    margin-top: 6rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    @media (min-width: $bp-big){
        height: 80vh;
        flex-direction: row;
    }
}

.col {
    width: 100%;
}