.bg {
    position: relative;


    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 205%;
        height: 225%;
        background-color: $light-grayish-blue;
        border-radius: 5rem;
        top: -100%;
        left: 35%;
        z-index: -1;

        @media (min-width: $bp-big) {
            border-radius: 10rem;
            left: 0;
            height: 150%;
        }
    }

}

.d-none {
    display: none;
}